@model Questions
@{
	ViewData["Title"] = Model.Title;
	List<Answers> answers = Answers.Read(Model.id);
}

<h3>@Model.Title:</h3>
<p>@Model.Details</p>
<table>
	<tr>
		<td>Posted:</td>
		<td>@Model.Username @Model.Posted</td>
	</tr>
	<tr>
		<td>Category:</td>
		<td>@Model.Category</td>
	</tr>
	<tr>
		<td>Tags:</td>
		<td>@Model.Tags</td>
	</tr>
	<tr>
		<td>Status:</td>
		<td>
			@if (Model.Status == 0)
			{
				<text>Open</text>
			}
			else
			{
				<text>Closed</text>
			}
		</td>
	</tr>
</table>
@if (ViewBag.username == Model.Username && Model.Status == 0)
{
	<button class="btn-dark" style="background-color:navy" onclick="location.href = '/QandA/EditQuestion?id=@Model.id';">Edit Question</button>
}
<br /><br />
@if (answers.Count != 0)
{
	<h3>Answers:</h3>
	foreach (Answers answer in answers)
	{
		<p>@answer.Details</p>
		<button class="btn-success" style="background-color:forestgreen" onclick="location.href = '/QandA/Upvote?id=@answer.id';">Like</button>
		<button class="btn-danger" onclick="location.href = '/QandA/Downvote?id=@answer.id';">Dislike</button>
		<table>
			<tr>
				<td>Posted:</td>
				<td>@answer.Username @answer.Posted</td>
			</tr>
			<tr>
				<td>Upvotes:</td>
				<td>@answer.Upvotes</td>
			</tr>
		</table>
		@if (ViewBag.username == answer.Username && Model.Status == 0)
		{
			<button class="btn-dark" style="background-color:navy" onclick="location.href = '/QandA/EditAnswer?answerID=@answer.id';">Edit Answer</button>
		}
		<hr />
	}
}
<br />
@if (Model.Status == 0)
{
	<button class="btn-info" onclick="location.href = '/QandA/Answer?questionID=@Model.id';">Add an answer</button>
}